
@media (max-width: 992px) {
    .section-about-drnyla{
        background-size: cover;
        background-position: center;
    }
    .section-about-drnyla .section-content .medium-6{
        max-width: 100%;
        flex-basis: 100%;
    }
}



@media (max-width: 767px) {
    p{
        font-size: 16px !important;
        line-height: 24px !important;
    }
    .success-stoties-homepage .medium-8{
        padding-right: 15px;
    }
    .section-about-drnyla .section-content h1{
        font-size: 24px;
        line-height: 38px;
    }
    #footer .footer-primary .copyright-footer{
        grid-template-columns: 100%;
        height: 100%;
    }
    #footer .footer-primary .copyright-footer .copyright, #footer .footer-primary .copyright-footer .social-footer, #footer .footer-primary .copyright-footer .pages-link-footer{
        height: 60px;
    }
    #footer .footer-primary .copyright-footer .copyright{
        padding-top: 15px;
    }
    #footer .footer-primary .copyright-footer .social-footer{
        line-height: 60px;
    }
    .take-ur-1-to-looking-fabulous .col-md-8 .btn-wrap .b-button{
        margin-right: 0px;
    }
    .section-about-drnyla .section-content p{
        font-size: 16px;
        line-height: 24px;
    }
    .row-top-homep .col-inner .button{
        margin-right: 0px;
    }
    .section-banner-video-top-homepage .section-content .favideo-popup-poster{
        width: 80px;
    }
    .favideo-popup{
        padding-left: 10px !important;
        padding-right: 10px;
    }
    .favideo-popup .wp-video{
        width: 100% !important;
    }
    #footer .l-disclaimer:nth-child(3) .container{
        padding: 15px;
        font-size: 16px;
        line-height: 24px;
    }
    .off-canvas:not(.off-canvas-center) .nav-vertical li>a{
        font-size: 14px;
        color: #4A4A4A;
        font-weight: 700;
    }
    .mobile-nav .nav-icon .icon-menu{
        font-size: 35px;
        color: #C3A46E;
    }
    .treatments-page .row{
        margin: 0px !important;
        margin-bottom: 50px !important;
    }
    .treatments-page .row-img-right{
        display: flex;
        flex-direction: column;
    }
    .treatments-page .row-img-right .medium-8{
        order: 2;
    }
    .treatments-page .row-img-right .medium-4{
        order: 1;
    }
    .treatments-page .row .medium-8, .treatments-page .row .medium-4{
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .treatments-page .row h1{
        font-size: 22px;
    }
    .meet-dr-nyla-head .medium-4{
        order: 2;
        flex-basis: 100%;
        padding: 15px;
    }
    .meet-dr-nyla-head .medium-8{
        order: 1;
        flex-basis: 100%;
    }
    .meet-dr-nyla-head{
        display: flex !important;
    }
    .row-2-meet-drnyla{
        margin-bottom: 0px;
    }
    .row-a-day-in-the-life-drnyla>.medium-12{
        padding-right: 15px;
    }
    .row-a-day-in-the-life-drnyla .large-8 .col-inner p{
        margin-bottom: 0px;
    }
    .section-top-conditions .accordion .accordion-item .accordion-inner a{
        margin-bottom: 10px;
        display: block;
    }
    .row-contactus-page .form-contact p:last-child{
         text-align: center;
     }
    .row-contactus-page .form-contact p:last-child .wpcf7-submit.button{
        float: none;
        width: 200px;
    }
    .row-fix-postop{
        padding: 0px 10px;
    }
    .exilis-block-bot .section-content .btn-wrap .b-button{
        margin-right: 0px;
    }
    .row-fix-postop{
        margin-top: 0px !important;
    }
    .contact-sub-menu-page form p:last-child{
        text-align: center !important;
    }

}