.page-id-1036 .banner-child-treatments{
	background-image: url(https://doctornyla.com/app/uploads/2016/08/opera.png);
	background-position: center bottom 75%;
	background-repeat: no-repeat;
	background-size: cover;
}
.page-id-1036 .have-link a{
	text-decoration: underline;
}
.page-id-1036 *{
	font-weight: normal;
	text-rendering: optimizeLegibility;
	font-family: "lato", sans-serif;
}
.page-id-1036 .slide-two-image .slide-twenty-twenty .twentytwenty-container{
	margin:auto;
}
@media(min-width:768px){
	.page-id-1036 .row-fix-postop{
		width: 750px;
	}
	/* 	.product-page-custom .col-sm-12{
	width:50%;
} */
}
.page-celebrities p{
	margin-bottom:0;
}
.page-celebrities .event-hero-block__wrapper{
	position:relative;
	overflow: hidden;
	padding-top: 35%;
}
.page-celebrities .event-inline-background-cover{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.page-celebrities .bg-per-post-lightbox{
	position:relative;
}
.page-celebrities  .rl-gallery-search{
	display:none;
}
.page-celebrities p a.wplightbox{
	display: none;
}
.page-celebrities  .link-contact{
	width:100%;
	display:block;
	border-radius:99px;
	text-align: center;
	background: #c3a46e;
	color: #fff;
	line-height: 16px;
	padding: 12px 3px;
	margin: auto;
	max-width: 180px;
}
.page-celebrities  .link-contact:hover{
	text-decoration: none;
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);
}
.page-celebrities  .description{
	width:100%;
	display:block;
	color: black;
	min-height: 50px;
	margin: 10px auto;
}
.page-celebrities .fa-play-circle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	color: #fff;
}
.page-celebrities .fa-play-circle:before{
	content: "\f144";
}
.page-celebrities .rl-gallery-search{
	position: absolute;
	width: 30px;
	height: 38px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #929292;
}
.page-celebrities .rl-gallery-search img{
	width: 26px;
	padding-left: 4px;
	padding-top: 7px;
}
.page-celebrities .block .event-hero-block__contents h1.event-hero-block__title{
	position:absolute;
	left:0;right:0;top:0;bottom:0;    
	margin: auto;
	text-align: center;
	height: 70px;
	vertical-align: middle;
	display: inline-block;
	font-family: Montserrat,Arial,sans-serif;
	font-weight: 600;
	color: #fff;
	letter-spacing: 2px;
	line-height: 70px;
	text-transform: uppercase;
	transform: none;
}
.page-celebrities .container .description-gallery-page{
	text-align: center;
	padding: 30px 15px;
}
.page-celebrities .container .description-gallery-page h2{
	font-size: 40px;
	font-weight: 600;
	color: black;
}
.page-celebrities .container .description-gallery-page p{
	font-size: 20px;
	line-height: 32px;
	margin: 40px auto;
	max-width: 800px;
	color: black;
}
.page-celebrities .container .gallery-page-img .person{
	display: grid;
	grid-template-columns: repeat(3, calc(100% / 3 - 14px));
	grid-gap: 20px;
	margin-bottom: 40px;
}
.page-celebrities .container .gallery-page-img .bg-per-post-lightbox{
	padding-top: 85%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.page-celebrities .container .gallery-page-img .name-cele, .rl-gallery-container .rl-gallery-title{
	font-size: 28px;
	font-weight: 600;
	margin: 20px 0;
	color: #191919;
}
.page-celebrities .container .rl-gallery-container .rl-gallery-title{
	font-family: lato,sans-serif !important;
}
.page-celebrities .rl-gallery-container .rl-gallery-item .rl-gallery-caption{
	/* 	width:75%;
	position:static;
	float:left; */
}
#html5-watermark{
	display:none !important;
}
@media(max-width:767px){
	.page-celebrities .container .gallery-page-img .person{
		grid-template-columns: 100%;
	}
}
.page-id-467 .footer-wrapper, .page-id-1931 .footer-wrapper{
	display:inline-block;
}
.page-contact .map-contact-us{
	margin-bottom: 40px;
}
.page-contact .contact-form{
	display:block;
	padding-top: 70px;
	margin: auto;
	padding: 40px;
	max-width: 1200px;
}
.page-contact .wpcf7 .wpcf7-form{
	width:90%;
}
.page-contact .wpcf7 p{
	font-size:17px;
}
/* .page-contact .wpcf7-form p input.wpcf7-submit{
margin-top:40px;
background: black;
border: none;
color: white;
} */
.page-contact .wpcf7, .page-contact .wpcf7 label{
	color: #666;
}
.page-contact .wpcf7 .wpcf7-form input:not([type="submit"]) , .page-contact .wpcf7 .wpcf7-form textarea{
	background: #f0f0f0;
	resize: vertical;
}
.page-contact .wpcf7 .wpcf7-form label.your-name , .page-contact .wpcf7 .wpcf7-form label.last-name{
	width:48%;
	float:left;
}
.page-contact .wpcf7 .wpcf7-form label.your-name{
	margin-right:4%;
}
.instagram , .facebook{
	margin:15px 0;
}
.page-contact .facebook-instagram .contact-us-txt, .page-contact .facebook-instagram .infor-contact p{	
	font-size: 18px;
	font-weight: 600;
	font-family: lato,sans-serif;
	line-height: 32px;
	color: #111;
}
.page-contact .facebook-instagram .contact-us-txt{
	vertical-align: top;
	padding-left: 30px;
	display: inline-block;
}
.page-contact .facebook-instagram img{
	max-width:140px;
}
.page-contact .facebook-instagram img:hover, .footer-block__menu--wrapper .mxh img:hover{
	transform: scale3d(1.05, 1.05, 1);
	transition: .3s transform;
}
@media(max-width:991px){
	.page-contact .contact-form{
		padding-top:20px;
		max-width:750px;
		padding-left:0;padding-right:0;
	}
	.page-contact .wpcf7 .wpcf7-form{
		width:100%;
	}
	.page-contact .instagram, .page-contact .facebook{
		width: 50%;
		float: left;
		text-align:center;
	}
	.page-contact .facebook-instagram .contact-us-txt{
		display:none;
	}
	.page-contact .facebook-instagram .map-contact-us iframe{
		width:100%;
	}
}
@media(max-width:767px){
	.page-contact .wpcf7 .wpcf7-form label.your-name, .page-contact .wpcf7 .wpcf7-form label.last-name{
		width:100%;
	}
	.page-contact .wpcf7 .wpcf7-form label.your-name{
		margin-right: 0;
	}
	.page-contact .facebook-instagram img{
		padding:5px;
	}
}
.btn-page-laser{
	float: left;
}
#send-enquiry{
	float: right;	
}
a.button.primary, .contact-form .wpcf7-form input.wpcf7-submit{
	padding: 5px 15px;
	background-color: #c3a46e !important;
	background: #c3a46e !important;
	display: block;
	width: fit-content;
	margin: 30px auto;
	border-radius: 40px;
	max-width: 450px;
	border: none;
	min-width: 220px;
	margin-bottom: 0px;
}
a.button.primary span{
	color: #fff;
	font-size: 20px;
	padding: 2px;
}

a.button.primary:hover, .contact-form input.wpcf7-submit:hover{
	background: #c3a46e;
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2) !important;
}
@media(max-width:550px){
	.page-contact .event-hero-block.block .event-hero-block__wrapper .event-hero-block__title{
		font-size: 38px;
	}
	.event-hero-block.block .event-hero-block__wrapper .event-hero-block__title{
		font-size: 30px;
	}
	.link-contact-laser-hair-removal .link-contact-laser-hair-removal-left{
		width: 100%;
		margin-bottom: 20px;
	}
	.link-contact-laser-hair-removal .link-contact-laser-hair-removal-right{
		width: 100%;
	}
	.skulpt-summer-body .link-book-now{
		width: 100%;
	}
}
.product-page-custom .per-ticket{
	width:100%;
}
@media(min-width:550px){	
	.product-page-custom .per-ticket{
		width:50%;
	}
}
@media(min-width:992px){	
	.product-page-custom .per-ticket{
		width:calc(100% / 3);
	}
}
.shop-container .product-gallery .large-10{
	margin:auto;
}
h2.title-page{
	font-size: 26px;
	font-weight: 600;
	color: #2d2929;
	margin-bottom: 20px;
}
h2.uppercase.title-page:first-child{
	margin-bottom: 40px;
}
.page-laser-hair .wp-video{
	margin:auto;
}
.page-laser-hair .fimg .col-inner{
	height:100%;
}
.page-laser-hair .fimg .img, .page-laser-hair .fimg .img-inner, .page-laser-hair .fimg img{
	height: inherit;
}
.media-machines .col-xs-12 video{
	max-width:100%;
}
.sub-video-all-page{
	max-width:600px;
	margin:auto;
}
.sub-video-all-page video{
	max-width:100%;
}
.col.medium-4.small-12.large-4 .sub-video-all-page{
	overflow:hidden;
	margin-bottom: 1em;
}
.page-child .col.medium-4.small-12.large-4 .sub-video-all-page video, .page-child .col.medium-4.small-12.large-4 img{
	max-width: 100%;
	height: 320px;
	object-fit: inherit;
	object-position: center;
	width: 100%;
	vertical-align: bottom;
	/* 	height: 100%; */
}
.page-child .col.medium-6.small-12.large-6 img{
	height: 481px;
	object-fit: inherit;
	object-position: center;
}
.text-in-img .col-inner{
	position:relative;
}
.text-in-img .col-inner .inside-img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2.4px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	color:#fff;
}
.text-in-img .col-inner .inside-img:before, .text-in-img .col-inner .inside-img:after{
	content:'';
	display:block;
	border-bottom:2px solid #fff;
	width:50%;
	margin:auto;
	max-width: 180px;
}
.row.has-big-img .img-inner {
	text-align:center;
}
.row.has-big-img img{
	max-width:600px;
	margin:auto;
}
.row.has-big-img.packages img{
	max-width:350px;
}
.row.has-big-img.packages p, .row.has-big-img.packages h2, .row.has-big-img.packages h2 span{
	font-style:italic;
}
.row.has-big-img.packages h2 span{
	font-weight: lighter;
	color: #ACACAC !important;
	/* 	font-family: lato,sans-serif !important;
	font-size: 18px;
	line-height: 28px; */
}
@media(max-width:550px){
	.page-child .col.medium-6.small-12.large-6 img, .page-child .col.medium-4.small-12.large-4 .sub-video-all-page video, .page-child .col.medium-4.small-12.large-4 img{
		height: 300px;
	}
}
#different-form{
	text-transform: capitalize;
}
.body-treatment .sub-video-all-page{
	position:relative;
}
.body-treatment .sub-video-all-page a{
	display:none;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;opacity:0;
}
.body-treatment .sub-video-all-page i{
	display:none;
}
.body-treatment .sub-video-all-page video:hover ~ i{
	display:block;
	position: absolute;
	left: 43%;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 70px;
	height: 70px;
	pointer-events: none;
	background-image:url('http://skulpt.wsoftpro.com/wp-content/uploads/2019/04/mute-volume.png');
	background-size:cover;
	background-repeat:no-repeat;
}
.body-treatment .sub-video-all-page video:hover ~ i.unmute-video{	
	background-image:url('http://skulpt.wsoftpro.com/wp-content/uploads/2019/04/volume.png');
	width:80px;
	height:80px;
}
.body-treatment .sub-video-all-page i:before{
	font-size: 70px;
}
.img-cover img{
	object-fit:cover !important;
}