body #wrapper, #main{
	background: #FCFAF7 !important;
}
h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a{
	font-family: lato,sans-serif !important;
}
body{
	color: #ACACAC !important;
}
.htag a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color: #C3A46E !important;
}
.b-button, .b-secondary-header__title, .htag, .htag a, b, body, h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, strong, span{
	font-family: lato,sans-serif;
}
.row{
	max-width: 1160px !important;
}
.container{
	max-width: 1160px !important;
}
.header .header-wrapper .header-top{
	min-height: 35px;
}
.header .header-wrapper .header-top .nav-left i{
	font-size: 18px;
	color: #acacac;
}
.header .header-wrapper .header-top .nav-left i{
	padding-right: 20px;
}
.header .header-wrapper .header-top .top-bar-nav i{
	font-size: 18px;
	color: #acacac;
}
.header .header-wrapper .header-top .top-bar-nav .mobile-hide{
	font-size: 18px;
	font-family: lato,sans-serif;
	color: #acacac;
	padding-left: 20px;
}
.header .header-wrapper .header-top .top-bar-nav .html_topbar_left{
	font-size: 18px;
	font-family: lato,sans-serif;
	color: #acacac;
}
.row-top-homep .uppercase{
	color: #c3a46e;
	font-size: 20px;
	line-height: 24px;
	font-family: lato,sans-serif;
}
.row-top-homep .col-inner p{
	color: #ACACAC;
	font-size: 18px;
	line-height: 28px;
	font-family: lato,sans-serif;
	font-weight: 400;
}
.row-top-homep .col-inner p a{
	text-decoration: underline;
}
.row-top-homep .col-inner .button{
	background-color: #C3A46E !important;
	font-size: 14px;
	display: unset;
	padding: 14px 30px;
}
.success-stoties-homepage .section-header{
	font-size: 20px;
	line-height: 24px;
	color: #C3A46E;
	font-family: lato,sans-serif;
}
.success-stoties-homepage{
	margin-bottom: 67px;
}
.success-stoties-homepage .medium-8{
	padding-right: 0px;
	padding-bottom: 0px;
}
.success-stoties-homepage .medium-4{
	padding-left: 0px;
	background: #fff;
	padding: 34px 30px;
}
.success-stoties-homepage .medium-4 .col-inner p{
	font-size: 22px;
	line-height: 34px;
	color: #ACACAC;
	font-family: lato,sans-serif;
}
.success-stoties-homepage .medium-4 .col-inner .button{
	background-color: #C3A46E !important;
	font-size: 14px;
	display: unset;
	padding: 14px 30px;
}
.success-stoties-homepage .video-success-stories{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.success-stoties-homepage .video-success-stories iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.share-ur-selfies-oninsta-drnyla .sb_instagram_header{
	display: none;
}
h2{
	font-family: lato,sans-serif !important;
}
.share-ur-selfies-oninsta-drnyla h2{
	font-size: 20px;
	line-height: 24px;
	color: #C3A46E;
	margin-bottom: 23px;
}
.share-ur-selfies-oninsta-drnyla h2 a{
	color: #C3A46E;
	text-decoration: underline;
}
.section-about-drnyla{
	padding-top: 0px !important;
	background-image: url(/wp-content/uploads/2019/01/about-bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 0px !important;
}
.share-ur-selfies-oninsta-drnyla #sb_instagram{
	padding-bottom: 0px !important;
}
.section-about-drnyla .section-content{
	padding-top: 40px;
}
.section-about-drnyla .section-content h2{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
}
.section-about-drnyla .section-content h1{
	font-size: 27px;
	font-weight: 700;
	color: #C3A46E;
	font-family: lato,sans-serif;
	line-height: 82px;
}
.section-about-drnyla .section-content p{
	color: #ACACAC;
	font-size: 18px;
	line-height: 28px;
	font-family: lato,sans-serif;
	font-weight: 400;
}
.section-about-drnyla .section-content .medium-6{
	padding-bottom: 0px;
}
.take-ur-1-to-looking-fabulous{
	background-color: #C3A46E;
	padding: 66px 0 80px;
}
.take-ur-1-to-looking-fabulous .col-md-8{
	margin: auto;
	float: none;
	text-align:center;
	padding: 0px;
}
.take-ur-1-to-looking-fabulous .col-md-8 h2{
	margin-top: 0;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 3.6px;
	width: 100%;
	color: #fff;
	margin: 0 0 33px;
}
p{
	font-family: lato,sans-serif !important;
	font-size: 18px;
	line-height: 28px;
}
.take-ur-1-to-looking-fabulous .col-md-8 .p1{
	font-size: 22px;
	line-height: 34px;
	color: #fff;
}
.take-ur-1-to-looking-fabulous .col-md-8 .logos-line1{
	margin-bottom: 0px;
}
.take-ur-1-to-looking-fabulous .col-md-8 .alignnone {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}
.take-ur-1-to-looking-fabulous .col-md-8 .s1{
	padding: 0px 10px;
}
.take-ur-1-to-looking-fabulous .col-md-8  .btn-wrap .b-button{
	padding: 13px 30px;
	background: #fff;
	color: #C3A46E;
	width: 265px;
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 114px;
	font-family: lato,sans-serif;
	text-decoration: none;
	margin-bottom: 15px;
}
#footer{
	background-color: #C3A46E;
	text-align: center;
}
#footer .block-footer-cus{
	background-color: #FCFAF7;
}
#footer .l-disclaimer.has-block.tooltipstered{
	padding: 15px 0px;
}
#footer .l-disclaimer.has-block.tooltipstered a{
	font-size: 18px;
	color: #fff;
}
#footer .l-disclaimer:nth-child(3) .container{
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	padding: 15px 0px;
	font-family: lato,sans-serif;
}
#footer .l-disclaimer:nth-child(3) .container a{
	color:#fff;
}
#footer .footer-primary .copyright-footer .copyright, #footer .footer-primary .copyright-footer .social-footer, #footer .footer-primary .copyright-footer .pages-link-footer{
	align-self: center;
}
#footer .footer-primary .copyright-footer{
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	height: 60px;
}
#footer .footer-primary .copyright-footer .copyright{
	color: #C3A46E;
	font-size: 12px;
	font-weight: 700;
	line-height: 15px;
	margin: 0;
	font-family: lato,sans-serif;

}
#footer .footer-primary .copyright-footer .social-footer i{
	font-size: 28px;
	color: #C3A46E;
	margin-right: 30px;
}
#footer .footer-primary .copyright-footer .pages-link-footer a{
	font-size: 12px;
	line-height: 1em;
	color: #C3A46E;
	text-transform: uppercase;
	font-weight: 900;
	position: relative;
	padding-right: 16px;
}
#footer .footer-primary .copyright-footer .pages-link-footer a:nth-child(4){
	padding-right: 0px !important;
}
#footer .footer-primary .copyright-footer .pages-link-footer a:nth-child(4)::after{
	display: none;
}
#footer .footer-primary .copyright-footer .pages-link-footer a::after{
	content: "|";
	position: absolute;
	top: 0px;
	right: 4px;
}
.absolute-footer.dark{
	display: none;
}
.section-banner-video-top-homepage{
	padding: 0px !important;
	overflow: hidden;
}
.section-banner-video-top-homepage .section-content .favideo-popup-poster{
	position: absolute;
	width: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display:none;
}
.section-banner-video-top-homepage .section-content p{
	margin-bottom: 0px;
}
#header .header-main{
	height: 110px;
}
.header .header-nav .menu-item .nav-top-link{
	text-decoration: none;
	color: #ACACAC;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	font-family: lato,sans-serif;
	padding: 0px;
	line-height: 24px;
}
.header .header-nav .menu-item .nav-top-link:hover{
	background: none;
}

.header .header-nav .menu-item:hover .nav-top-link::after{
	height: 4px;
	background: #C3A46E;
}
.header .header-nav .menu-item{
	position: static;
}
.header .header-nav .menu-item .nav-top-link::after{
	content: "";
	position: absolute;
	display:block;
	width: 100%;
	bottom: -5px;
	-webkit-transition: height .25s ease;
	transition: height .25s ease;
}
.header .header-nav .menu-item .nav-top-link i{
	display: none;
}
.header .header-nav .menu-item{
	margin-right: 0px;
}
.header .header-nav{
	display: grid;
	text-align: center;
	grid-template-columns: auto auto auto auto auto auto auto;
	justify-content:space-around;
}
.header .header-nav::before{
	display: none;
}
#header .header-inner{
	position: relative;
}
#header .header-inner .header-nav{
	position: static;	
}
.header .header-nav .menu-item .nav-dropdown{
	position: absolute;
	top: 100%;
	left: 0px !important;
	width: 100%;
	box-shadow: none;
	background-color: #FCFAF7;
	border: none;
	padding: 30px;
}
.header .header-nav .nav-dropdown.nav-dropdown-default>li>a , .header .header-nav .nav-dropdown-default .nav-column li>a{
	border-bottom: 0px;
	text-decoration: none;
	font-weight: 300;
	font-family: lato,sans-serif;
	font-size: 14px;
	text-transform: capitalize;
	color: #b1915c;
	margin: 0px;
	width: min-content;
	position: relative;
	padding: 8px 0px;
}
.header .header-nav .menu-item::after{
	display: none;
}
.header .header-nav  .nav-dropdown .nav-dropdown-col{
	width: 20%;
	float: left;
}
.header .header-nav  .nav-dropdown .nav-dropdown-col>a:hover::after, .header .header-nav  .nav-dropdown .dropdown-uppercase .menu-item>a:hover::after{
	height: 2px;
	background: #C3A46E;
}
.header .header-nav  .nav-dropdown .nav-dropdown-col>a::after, .header .header-nav  .nav-dropdown .dropdown-uppercase .menu-item>a::after{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	bottom: 4px;
}
.header  #logo{
	width: 77px;
	/* 	margin-right:0; */
}
.header .header-nav>.menu-item{
	height: 110px;
	line-height: 110px;
	margin: 0px;
	padding: 0px 17px;
}
.row-top-homep .right-img-hover .has-hover .box-text.text-center{
	padding: 0px;
}
.row-top-homep .right-img-hover .has-hover h3{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2.4px;
	width: 65%;
	margin: auto;
	position: relative;
	cursor: pointer;
}
.row-top-homep .right-img-hover .has-hover h3::before{
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: -20px;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
}
.row-top-homep .right-img-hover .has-hover h3::after{
	display: block;
	content: "";
	width: 50%;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: -20px;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
}
.row-top-homep .right-img-hover .has-hover:hover h3::after, .row-top-homep .right-img-hover .has-hover:hover h3::before{
	width: 100%;
}
.header .header-nav .menu-item .nav-dropdown{
	display: none;
}
.header .header-nav>.menu-item:hover .nav-dropdown{
	display: block;
}
.treatments-page .row{
	background: #fff;
	margin-bottom: 40px;
}
.treatments-page .row h1{
	color: #C3A46E;
	font-size: 32px;
	font-weight: 600;
}
.treatments-page .row a:hover{
	text-decoration: none;
}
.treatments-page .row p{
	font-size: 20px;
	line-height: 28px;
	margin: 0px;
}
.treatments-page .row .medium-8{
	padding: 30px;
}
.treatments-page .row .medium-4{
	padding:0px;
}
.treatments-page .row .medium-4 .img.has-hover{
	margin: 0px;
}
.meet-dr-nyla-head{
	display: grid !important;
	grid-template-columns: 40% 60%;
	background: #fff;
	margin-top: 60px;
}
.meet-dr-nyla-head::before, .meet-dr-nyla-head::after{
	display: none;
}
.meet-dr-nyla-head .medium-4, .meet-dr-nyla-head .medium-8{
	max-width: 100%;
}
.meet-dr-nyla-head .medium-8{
	padding: 0px;
}
.meet-dr-nyla-head .medium-4{
	padding: 36px 50px;
}
.meet-dr-nyla-head .medium-8 .col-inner{
	background-image: url(http://localhost/skulpt/wp-content/uploads/2019/01/1-1024x682.jpg);
	padding-bottom: 100%;
	background-position: center;
	background-size: cover;
}
#wrapper #header{
	position: sticky;
	top: 0px;
}
.meet-dr-nyla-head .medium-4 h2{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 20px;
	color: #C3A46E;
}
.row-2-meet-drnyla{
	margin: 60px 0px;
}
.row-2-meet-drnyla h2{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
}
.row-a-day-in-the-life-drnyla>.medium-12{
	padding-bottom: 0px;
}
.row-a-day-in-the-life-drnyla>.medium-12 h2{
	color: #C3A46E;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
}
.row-a-day-in-the-life-drnyla .large-8 .col-inner p{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.row-a-day-in-the-life-drnyla .large-8{
	padding-right: 0px;
}
.row-a-day-in-the-life-drnyla .large-8 .col-inner iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.row-a-day-in-the-life-drnyla .large-4{
	background: #fff;
	padding: 30px 45px 30px 30px;
}
#footer .l-disclaimer:nth-child(1) p a{
	line-height: 60px !important;
	color: #fff;
}
.section-top-conditions .accordion .accordion-item{
	position: relative;
}
.section-top-conditions .accordion .accordion-item .accordion-title{
	position: unset;
	padding: 0px;
	line-height: 80px;
	border-bottom: 1px solid #ddd;
	border-top: 0px;
	text-decoration: none;
}
.section-top-conditions .accordion .accordion-item .accordion-title .toggle{
	position: absolute;
	left: unset;
	right: 0px;
	top: 25px;
	margin: 0px;
	color: #000;
}
.section-top-conditions .accordion .accordion-item  span{
	font-size: 22px;
	color: #747474;
}
.section-top-conditions .accordion .accordion-item{
	text-decoration: none;
}
.section-top-conditions .accordion .accordion-item .accordion-inner a{
	color: #C3A46E;
	font-weight: 600;
	padding-right: 20px;
}
.section-top-conditions .accordion .accordion-item .active{
	background: none;
	text-decoration: none;
}
.section-top-conditions .accordion .accordion-item .active span{
	color: #C3A46E;
	font-weight: 400;
}
.accordion .active i{
	color: #C3A46E;
}
.section-top-conditions .section-content .large-3 h3{
	line-height: 82px;
	letter-spacing: 3px;
	border-bottom: 1px solid #ddd;
	margin: 0px;
	font-size: 20px;
	color: #C3A46E;
	font-family: lato,sans-serif;
	margin-bottom: 10px;
}
.row-contactus-page .form-contact h2{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
	text-rendering: optimizeLegibility;
}
.row-contactus-page .form-contact .row-input-fct p:nth-child(1){
	color: #ACACAC;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 12px;
	padding-top: 15px;
}
.row-contactus-page .form-contact .row-input-fct .wpcf7-form-control-wrap .wpcf7-form-control{
	border: 1px solid #eee;
	height: 48px;
	box-shadow: none;
	font-size: 14px;
}
.row-contactus-page .form-contact .row-input-fct .wpcf7-form-control-wrap input::placeholder, .row-contactus-page .form-contact .row-input-fct .wpcf7-form-control-wrap textarea::placeholder{
	color: #ACACAC;
	font-size: 14px;
}
.row-contactus-page .form-contact .row-input-fct .wpcf7-form-control-wrap textarea{
	height: 160px !important;
}
.row-contactus-page .form-contact  .p-consent{
	font-weight: 700;
	color: #ACACAC;
	margin-bottom: 35px;
}
.row-contactus-page .form-contact .wpcf7-list-item-label{
	color: #ACACAC;
	font-size: 15.75px;
	font-weight: 300;
}
.row-contactus-page .form-contact .wpcf7-submit.button{
	background-color: #C3A46E !important;
	border-radius: 35px;
	font-weight: 400;
	font-size: 14px;
	height: 48px;
	width: 120px;
	margin-top: 15px;
	float: right;
	margin-right: 0px;

}
.row-contactus-page{
	margin-top: 60px;
}
.row-contactus-page .large-5 h2{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
}
.row-contactus-page .large-5 p{
	font-size: 16px!important;
}
.row-contactus-page .large-5 p strong{
	font-size: 20px;
}
.row-contactus-page .large-5 .facebook-follow a, .row-contactus-page .large-5 .twitter-follow a, .row-contactus-page .large-5 .instagram-follow a{
	color: #C3A46E;
	font-size: 18px;
	text-decoration: none;
}
.row-contactus-page .large-5 .facebook-follow, .row-contactus-page .large-5 .twitter-follow, .row-contactus-page .large-5 .instagram-follow{
	margin-bottom: 0px;
}
.mfp-wrap .mfp-content{
	width: 280px !important;
}
.row-fix-postop-botox{
	background: #fff;
	position: relative;
	margin-top: -84px !important;
	padding: 0 50px 36px;
}
.row-fix-postop-botox h3{
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
	padding: 36px 0 0;
}
.row-fix-postop-botox .large-12{
	padding-bottom: 0px;
}
.row-fix-postop-botox .Pricing-text{
	text-align: left;
}
.row-fix-postop-botox .price-from{
	padding-left: 150px;
}
.success-stoties-homepage h2{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
	text-align: center;
	margin-top: 30px;
}
.success-stoties-homepage .large-12{
	padding-bottom: 0px;
}
.success-stoties-homepage .large-8 p{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.success-stoties-homepage .large-8 p iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.success-stoties-homepage.SUCCESS-STORY .col-inner .large-4 p{
	font-size: 18px;
	line-height: 28px;
}
.SUCCESS-STORY .large-4 .col-inner{
	text-align: center;
}
.before-after-img.container{
	text-align: center;
	margin-top: 40px;
}
.before-after-img.container .twentytwenty{
	margin: auto;
}
.before-after-img.container h3{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
}
.before-after-img.container .twentytwenty-wrapper{
	margin-bottom: 40px;
	position: relative;
}
.before-after-img.container .twentytwenty-wrapper::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background: #F0E9DA;
	left: 0px;
	bottom: -40px;
}
.SUCCESS-STORY .button.primary{
	font-weight: 400;
	margin: 0px;
}
.row-fix-postop{
	margin-top: -80px !important;
	position: relative;
	background: #fff;
	padding: 0 50px 36px;
}
.row-fix-postop h3{
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #C3A46E;
	padding-top: 36px;
}
.success-stoties-homepage h3{
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
	margin-top: 30px;
}
.success-stoties-homepage.row-video-left .medium-2, .success-stoties-homepage.row-video-left .medium-8{
	background: #fff;
}
.success-stoties-homepage.row-video-left .medium-2 p, .success-stoties-homepage.row-video-left .medium-8 p{
	margin-bottom: 0px;
}
.exilis-block-bot{
	background-color: #C3A46E;
	color: #fff;
	padding: 66px 0 80px !important;
}
.exilis-block-bot .section-content h3{
	text-align: center;
	margin-top: 0;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 3.6px;
	color: #fff;
	margin: 0 0 33px;
	font-family: lato,sans-serif;
}
.exilis-block-bot .section-content p{
	font-size: 22px;
	line-height: 34px;
}
.exilis-block-bot .section-content .small-12{
	max-width: 773px;
	margin: auto;
	padding-bottom: 0px;
}
.exilis-block-bot .section-content .btn-wrap{
	text-align: center;
}
.exilis-block-bot .section-content .btn-wrap .b-button{
	padding: 13px 30px;
	background: #fff;
	color: #C3A46E;
	width: 265px;
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 114px;
	font-family: lato,sans-serif;
	text-decoration: none;
	margin-bottom: 15px;
}
.last-child{
	padding: 33px 0;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	color: #C3A46E;
}
.before-after-img h4{
	max-width: 550px;
	margin: auto;
	font-size: 18px;
	line-height: 28px;
	padding: 0px 15px;
	color: #ACACAC;
	font-family: lato,sans-serif;
	text-align: left;
	margin-bottom: 40px;
}
.row-top-fatremoval{
	background: #fff;
	margin-top: 20px;
}
.row-top-fatremoval>div {
	padding: 0px;
}
.row-top-fatremoval .medium-5{
	padding: 36px 50px;
}
.row-top-fatremoval h2.uppercase{
	color: #C3A46E;
	font-size: 32px;
}
.row-top-fatremoval p{
	margin: 0px;
}
.row-top-fatremoval{
	margin-bottom: 67px;
}
.contact-sub-menu-page .medium-6 h3{
	color: #C3A46E;
	font-size: 24px;
	margin: 0 0 33px;
}
.contact-sub-menu-page form p{
	color: #ACACAC;
	font-weight: 700;
	margin-bottom: 5px;
}
.contact-sub-menu-page form p span{
	color: #790000;
}
.contact-sub-menu-page form  label{
	display: none;
}
.contact-sub-menu-page form input{
	border: 1px solid #eee;
	height: 48px;
	box-shadow: none;
	font-size: 14px;
}
.contact-sub-menu-page form .wpcf7-submit{
	border-radius: 35px;
	font-weight: 400;
	font-size: 14px;
	height: 48px;
	width: 120px;
	margin-top: 15px;
	float: right;
	margin-right: 0px;
	background-color: #C3A46E !important;
}
.contact-sub-menu-page form .acceptance-consent label{
	display: block;
}
.contact-sub-menu-page form .acceptance-consent .wpcf7-list-item-label{
	color: #ACACAC;
	font-size: 15.75px;
	font-weight: 300;
}
.contact-sub-menu-page form .acceptance-consent .wpcf7-list-item input{
	height: auto;
}
.contact-sub-menu-page form .acceptance-consent{
	margin-top: 35px;
}
.heading-img-gallery{
	line-height: 24px;
	margin: 0 0 33px;
	font-size: 24px;
	color: #C3A46E;
	text-align: center;
	text-transform: uppercase;
	margin-top: 25px;
}
.section-top-conditions.bg-white-section{
	background: #fff;
}
.before-after-img h2{
	text-align: center;
	color: #C3A46E;
	font-size: 18px;
	font-weight: 600;
}
.before-after-img .before-after-img.container{
	font-size: 13px;
	color: #ACACAC;
	max-width: 550px !important;
	line-height: 28px;
	margin-bottom: 40px;
}
#sb_instagram #sbi_images{
	max-height: 400px;
	overflow-y: scroll;
}


#sb_instagram #sbi_images::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#sb_instagram #sbi_images::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#sb_instagram #sbi_images::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #c9c9c9f2;
}
.section-top-conditions{
	background: #fff;
}
.wpcf7-form-control-wrap.menu-where select{
	box-shadow: none;
	height: 48px;
}

#menu-item-342>a, #menu-item-958>a, #menu-item-821>a, #menu-item-825>a, #menu-item-1114>a, #menu-item-348>a, #menu-item-1531>a, #menu-item-1535>a, #menu-item-1540>a, #menu-item-1699>a{
	font-weight: 600;
}
.menu-item-1699{
	width:20%;
	float:left;
}
.header .header-nav .nav-dropdown.nav-dropdown-default>.menu-item-1699>a {
	width:auto;
}
.nav-vertical li li.menu-item-1699>a{
	    color: #000;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bolder;
}
.section.section-slider-homepage{
	display: none;
}
.section-dawn-ward{
	padding-top: 50px !important;
}
.section-dawn-ward .section-content h2{
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 33px;
	color: #C3A46E;
}

/* footer */

.footer-block__pages-links-wrapper {
	padding: 10px;
}
.footer-block__menu--wrapper{
	padding-left: 22px;
	max-width: 290px;
	flex-direction: column;
	width: auto;
	margin: 0 auto;
}
.footer-block__pages-links-wrapper {
	width: 100%;
	background: #C3A46E;
	color: #fff;
	display: flex;
	max-width: 1300px;
	margin: auto;
}
.footer-block__pages-links-wrapper a{
	color: white;
}
.footer-block__pages-links-wrapper ul {
	padding-bottom: 23px;
	max-width: 270px;
	min-width: 150px;
	margin: 0 auto;
	list-style-type: none;
	padding-left: 0;
	align-items: flex-start;
	flex-flow: column nowrap;
	display: flex;
	width: 100%;
}
.footer-block__menu {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc(100% / 3);
	max-width: calc(100% / 3);
	width: calc(100% / 3);
	
	/*     border-right: 1px solid hsla(0,0%,62%,.2); */
}
.footer-block__pages-links-wrapper ul li{
	text-align: left;
	margin-top: 10px;
	font-family: lato,sans-serif !important;
}

.footer-block__menu li a {
	font-size: 20px;
	text-decoration: none;
	word-break: break-word;
}
.footer-block__menu li a:hover{
	color: #fff;
}

.footer-block__secondary-links ul {
	display: flex;
	width: auto;
	padding-left: 0;
	flex-direction: column;
	text-transform: uppercase;
	flex-direction: row;
	list-style-type: none;
	margin:0;
	flex-wrap: wrap;
}
.footer-block__secondary-links li {
	padding: 3px 10px;
}
.footer-block__secondary-links a{
	color:white;
	font: 700 normal 12px/30px Montserrat,Arial,sans-serif;
	letter-spacing: 1px;
}
.footer-block__menu:last-child {
	margin-right: 0;
}

.footer-block__social h3 {
	margin: 0 20px 0 0;
	font: 700 normal 19px/1 Montserrat,Arial,sans-serif;
}
.footer-block__social ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 0;
	padding: 0;
}
.footer-block__social li {
	width: auto;
	margin: 0 10px;
	display: inline;
	text-align: center;
}

.footer-block__info ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin:0;
	padding-left: 0;
	list-style-type: none;
}
.footer-block__info li {
	width: auto;
	margin: 0 25px;
}
.footer-block__info a {
	color: #c6c6c6;
	text-decoration: none;
}
.footer-block__social ul li a{
	color:white;
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 16px;
}

.footer-block__menu-studio li img{
	margin-right: 12px;
	float: left;
}
.footer-block__menu-studio--hollywood {
	padding-top: 27px;
}
.footer-block__menu-studio li a {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-ms-flex-align: center;
	align-items: center;
	min-width: 179px;
}
.footer-block__menu-studio li svg {
	min-height: 40px;
	max-height: 40px;
	min-width: 40px;
	max-width: 40px;
	margin-right: 12px;
	fill: #8cd0e5;
}
.footer-block__menu-studio li.footer-block__menu-studio--wrapper svg {
	fill: #fff;
	float:left;
}
.footer-block__pages-links-wrapper .footer-block__menu-studio--hollywood {
	padding-bottom: 0;
}

badges-block__review-stars{
	line-height: 14px;
}
@media (max-width: 1920px){
	/* 	.footer-block__pages-links-wrapper{
	padding-left: 0;
} */
	.footer-block__menu-studio.footer-block__menu{
		padding-left: 15px;
	}
}
@media (max-width: 768px) {
	.footer-block__pages-links-wrapper{
		display: block;
		overflow: hidden;
	}
	.footer-block__menu{
		margin-right: 0;
		width: 50%;
		max-width: 50%;
		flex-basis: 50%;
		flex-shrink:inherit;
		float: left;
		border: none;
	}
	.footer-block__menu:last-child{
		margin-top: 20px;
	}

}
@media (max-width: 425px){
	.footer-block__menu{
		width: 100%;
		flex-basis: 100%;
		max-width: 100%;
		padding-bottom: 20px;
		padding-top: 15px;
		border-bottom: 1px solid hsla(0, 0%, 62%, .2);
		padding-left: 0;
	}

	/* 	.footer-block__pages-links-wrapper {
	padding: 0 0 10px 10px;
} */
	.footer-block__social ul li a{
		letter-spacing: inherit;
	}
	.footer-block__menu--wrapper{
		padding-left: 0;
	}

	.footer-block__social h3{
		margin-bottom: 20px;
	}
	.badges-block__title.title.title__flourish.title__flourish--3 img{
		display: none;
	}

}
.footer-block__pages-links-wrapper .head-ft{
	font-weight: 600;
	font-family: lato,sans-serif !important;
	font-size: 24px;
	margin: 30px 0px;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
}
.footer-block__menu--wrapper .mxh{
	display: block;
	text-align: left;
}
.footer-block__menu--wrapper .mxh li{
	display:  inline-block;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	position: relative;
}
.footer-block__menu--wrapper .mxh li a img{
	max-width:100%;
	position: absolute;
}
.footer-copyright{
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 0 15px;
	line-height: 60px;
	background: #c3a46e;
	border-top: 1px solid hsla(0,0%,62%,.2);
}
.share-ur-selfies-oninsta-drnyla.has-block.tooltipstered h2{
	text-align: center;
}
.share-ur-selfies-oninsta-drnyla.has-block.tooltipstered h2 a{
	text-decoration: none;
}

/* machines */

.content-talent-s{
	margin-bottom: 60px;
}
.content-talent-s .tlp-row .search-form{
	width: 50%;
	position: relative;
	border-radius: 5px;
	border: 1px solid #8d8d8d;
	overflow: hidden;
	height: 45px;
	margin-bottom: 60px;
	margin-left: 20px;
}
.content-talent-s .tlp-row .search-form #search{
	height: 45px;
	width: 85%;
	float: left;
	padding: 10px;
	border: none;
	font-weight: 400;
	color: #000;
	font-size: 14px;
	box-shadow: none;
	margin-bottom: 0px;
}
.content-talent-s .tlp-row .search-form label{
	margin: 0px;
}
.content-talent-s .tlp-row .search-form .search-submit{
	height: 45px;
	width: 15%;
	float: left;
	background: #fff;
	border: none;
	color: #fff;
	margin: 0px;
}
.content-talent-s .tlp-row .search-form .search-submit:hover{
	box-shadow: none;
}
.content-talent-s .tlp-row .search-form .icon-magnifying-glass{
	width: 26px;
	position: absolute;
	top: calc(45px - 25px - 10px);
	right: calc(100% - 85% - 7.5% - 13px);
	cursor: pointer;
}
.content-talent-s .search-form:after{
	content: "";
	position: absolute;
	top: 7px;
	display: block;
	width: 1px;
	height: 30px;
	background: #ccc;
	z-index: 9;
	right: 15%;
}

.event-hero-block.block .event-hero-block__wrapper{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}
.event-hero-block.block .event-hero-block__wrapper .event-hero-block__video{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.event-hero-block.block .event-hero-block__wrapper .event-hero-block__video video{
	width: 100%;
}
.event-hero-block.block .event-hero-block__wrapper .event-hero-block__title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 70px;
	padding:0 20px;
}
.content-heading{
	text-align: center;
	margin: 60px 0px;
}
.content-talent-s .title-talent-p{
	width: 100%;
	margin-bottom: 50px !important;
	overflow: hidden;
	font-size: 24px;
	padding-left: 20px;
}
.content-talent-s .team-member {
	position: relative;
	padding: 0px;
	margin-bottom: 40px;
}
.content-talent-s .tlp-row{
	display: flex;
	flex-wrap: wrap;
}
.content-talent-s .team-member .single-team-area{
	overflow: hidden;
	width: calc(100% - 40px);
	margin:auto;
	background: #f2f2f2;
	position: relative;
	height: 100%;
}
.content-talent-s .team-member .single-team-area>a{
	width: 60%;
	float: left;
	height:100%;
	overflow:hidden;
}
.content-talent-s .team-member .single-team-area>a .img-responsive{
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.content-talent-s .team-member .single-team-area>a video.img-responsive{
	max-height:228px;
	object-fit: none;
	object-position: center;
	margin:auto;
}
.content-talent-s .team-member .single-team-area .content-layout-talent{
	width: 40%;
	float: right;
	padding: 10px;
}
.content-talent-s .team-member .single-team-area .content-layout-talent .tpl-social{
	display: none;
}
.content-talent-s .team-member .single-team-area .content-layout-talent .link-per {
	position: absolute;
	bottom: 10px;
	color: #666;
	text-transform: capitalize;
	line-height: 100%;
	width: auto;
	font-size: 16px;
}
.content-talent-s .team-member .single-team-area .content-layout-talent .link-per a{
	text-decoration: none;
	position:relative;
    display:inline-block;
    transition: all 0.3s ease-out;
}
.content-talent-s .team-member .single-team-area .content-layout-talent .link-per a .slider{
	position: absolute;
    display:block;
    left: 0;
    top:100%;
    margin:0 auto;
    height: 2px;
    background-color: #000;
    width: 0%;
    transition: width 1s ease;
}
.content-talent-s .team-member .single-team-area .content-layout-talent .link-per a:hover .slider{
	width:80%;
}
.content-talent-s .team-member .single-team-area .content-layout-talent .link-per i{
	font-size: 10px;
	padding-left: 7px;
	color: #666;
}
.designation.designation_talent{
	display: none;
}
.content-talent-s .team-member .single-team-area .content-layout-talent .short-bio p{
	font-size: 16px;
	line-height: 20px;
}
.per-videok{
	position: relative;
	overflow: hidden;
	padding-top: 35%;
}
.per-videok .video-content{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.per-videok .video-content video{
	width: 100%;
}
.per-videok .per-titlek .tlp-member-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
	color: #fff;
	text-align: center;
	font-size: 70px;
	font-weight: 700;
}
.tlp-team.tlp-single-container{
	margin-top: 50px;
}
.tlp-member-detail h4{
	font-size: 20px;
	font-weight: 600;
}
.content-talent-s .title-search-f{
	width: 100%;
	margin-bottom: 50px !important;
	overflow: hidden;
	font-size: 24px;
}
.product-page-custom  .per-ticket img{
	width: 100%;
}
.product-page-custom  .per-ticket{
	margin-bottom: 40px;
}
.product-page-custom  .per-ticket .a-book-tick{
	display: block;
	background: #8c6158;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	font-family: lato,sans-serif;
	text-decoration: none;
}
.product-page-custom  .per-ticket .title-ticket-pg{
	text-decoration: none;
}
.product-page-custom{
	display: flex;
	flex-wrap: wrap;
}
.product-page-custom  .per-ticket a:nth-child(3) h3{
	color: #000;
	font-size: 20px;
	font-weight: 600;
}
@media(max-width:767px){	
	.content-talent-s .team-member .single-team-area>a, .content-talent-s .team-member .single-team-area .img-responsive, .content-talent-s .team-member .single-team-area .content-layout-talent{
		width:100%;
		height:auto;
	}
	.content-talent-s .team-member .single-team-area>a video.img-responsive{
		max-height: 200px;
		object-fit: cover;
	}
}
@media(max-width:550px){
	.content-talent-s .tlp-row .search-form, .content-talent-s .title-talent-p, .content-talent-s .team-member .single-team-area{
		width: 100%;
		margin-left:auto;
		padding-left:0;
	}
}
.home .event-hero-block.block{
	display:none;
}


.top-content-special-offers{
	text-align: center;
    margin-top: 40px;
}
.top-content-special-offers h2{
	font-size: 26px;
    font-weight: 600;
    margin-top: 30px;
}
.main-content-special-offers .large-12:nth-child(1){
	padding-bottom: 10px;
}
.link-contact-laser-hair-removal .link-contact-laser-hair-removal-left{
	width: 220px;
    float: left;
    height: 45px;
    line-height: 45px;
    background: #C3A46E;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
}
.link-contact-laser-hair-removal .link-contact-laser-hair-removal-left a{
	color: #fff;
	text-decoration: none;
}
.link-contact-laser-hair-removal .link-contact-laser-hair-removal-right{
	width: 220px;
    float: right;
    height: 45px;
    line-height: 45px;
    background: #C3A46E;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
}

.link-contact-laser-hair-removal .link-contact-laser-hair-removal-right a{
	color: #fff;
	text-decoration: none;
}
.link-contact-laser-hair-removal{
	overflow: hidden;
	margin-bottom: 60px;
}
.skulpt-summer-body{
	overflow: hidden;
    margin-bottom: 60px;
}
.skulpt-summer-body .link-book-now{
	width: 220px;
    float: left;
    height: 45px;
    line-height: 45px;
    background: #C3A46E;
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
}
.skulpt-summer-body .link-book-now a{
	color: #fff;
	text-decoration: none;
}
.video-all-page{
	text-align: center;
}
.text-content-laser{
	margin-top: 40px;
}
.face-laser-hair-remove .sub-video-all-page video, .body-laser-hair-remove .sub-video-all-page video, .men-laser-hair-remove .sub-video-all-page video{
	width: 100%;
}
.face-laser-hair-remove .sub-video-all-page , .body-laser-hair-remove .sub-video-all-page{
	max-height: 340px;
	overflow: hidden;
}
.face-laser-hair-remove .img-inner.dark img , .body-laser-hair-remove .img-inner.dark img{
	max-height: 340px;
	object-fit: cover;
}
.men-laser-hair-remove .sub-video-all-page {
	max-height: 475px;
	overflow: hidden;
}
.men-laser-hair-remove .img-inner.dark img {
	max-height: 475px;
	object-fit: cover;
}
.page-laser-hair .link-contact-laser-hair-removal{
	margin-bottom: 0px !important;
}
.srcoll-all-page-laser h3{
	color: #c3a46e;
    font-size: 22px;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
}
.page-laser-hair{
	padding-bottom: 60px;
}
.video-Chemical-Peels .video-all-page{
	max-height: 475px;
	overflow: hidden;
	margin-bottom: 15px;
}
.video-Chemical-Peels .video-all-page video{
	width: 100%;
}
.video-Chemical-Peels-2 .video-all-page{
	max-height: 407px;
	overflow: hidden;
}
.video-Chemical-Peels-2 .video-all-page video{
	width: 100%;
}
.bloomea-1{
	margin-top: 60px;
}
.heading-Laser-Hair-Removal h2{
	    font-size: 26px;
    font-weight: 600;
    margin-top: 60px;
    color: #2d2929;
    text-align: center;
}
.Skin-Resurfacing-page .col-inner h2 , .skin-rejuvenation-page .col-inner h2{
	font-size: 26px;
    font-weight: 600;
    color: #2d2929;
    margin-bottom: 20px;
}
.img-Pigmentation .img-inner.dark{
	max-width: 600px;
	margin: auto;
}
.img-Pigmentation{
	text-align: center;
}
#body-laser-hair-remove-1 .title-page, #face-laser-hair-remove-1 .title-page, #men-laser-hair-remove-1 .title-page, .has-big-img .title-page,
#Bloomea-content .title-page, #opera-mask-content .title-page, #carbon-peel-content .title-page, #Inch-Loss-and-Contouring-content .title-page, #lifting-and-tightening-content .title-page,
#Pigmentation-content .title-page, #Vascular-content .title-page, #Anti-ageing-content .title-page, #Acne-Scarring-content .title-page, #Texture-and-Tone-content .title-page,
#Bloomea-content .title-page, #Chemical-Peels-content .title-page, #Fractional-Laser-content .title-page, #IPL-content .title-page, #anti-botox-1 .title-page, #anti-volite-1 .title-page,
#anti-profhilo-1 .title-page, #jawline-content .title-page, #chin-content .title-page, #cheeks-content .title-page, #lips-content .title-page, #Correction-Work-content .title-page

{
	margin-top: 150px !important;
	overflow: hidden;
}
#Bloomea-content{
	overflow: hidden;
}

#Skulpt-Signature-content .video-Signature{
	max-height: 480px;
	position: relative;
}

#Skulpt-Signature-content .video-Signature .col-inner .video-all-page .sub-video-all-page{
	position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#Skulpt-Signature-content .video-Signature .col-inner p{
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%);
}
#Skulpt-Signature-content .video-Signature .col-inner .video-all-page .sub-video-all-page video{
    width: 100%;
/*     transform: translate(0 , -25%); */
}
#Skulpt-Signature-content .video-Signature .col-inner{
	position: relative;
    min-height: 550px;
}
/* #Skulpt-Signature-content .video-Signature .col-inner p{
	position: absolute;
	bottom: 0px;
} */
.hero-block.block .hero-block__wrapper{
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.hero-block.block .hero-block__wrapper .img-banner-home{
	position: absolute;
    top: -5px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.hero-block.block .hero-block__wrapper .hero-block__video{
	position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.hero-block.block .hero-block__wrapper .hero-block__video video{
	width: 100%;
}
.hero-block.block .hero-block__wrapper br{
	display: none;
}
.section-dawn-ward .col.medium-6.small-12.large-6 img{
	height: 100%;
}
.row-top-homep .right-img-hover .has-hover a{
	text-decoration: none;
}



